.container {
  min-height: 100vh;
  padding: 0 0.5rem;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 70%;
}

.info {
  z-index: 2;
}

.infoDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoDescription__link {
  background: #000;
  border-radius: .2rem;
  color: #fff;
  padding: 1rem;
  width: 7rem;
}

.infoDescription__text {
  margin-left: 1rem;
  max-width: 20ch;
}

.illustration img {
  width: 30rem;
  position: absolute;
  right: -5rem;
  top: -9rem;
  z-index: 1;
}